html{
   
    margin: 0px;
    padding: 0px;
    font-family: 'Oxanium', Arial;
}


body{
	background-image: url(https://media.istockphoto.com/photos/programming-code-abstract-technology-background-of-software-deve-picture-id537331500?k=6&m=537331500&s=612x612&w=0&h=VMx4K6hcGW0hLT-5dFRzUo4GFn1Uh6RR3k0n51lxRw0=);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%; 
    
}
input[type="text"], input[type="password"]{
    text-align: center;
    font-size: 20px;
    width: 90%;
    padding: 10px;
    border: none;
    color: black;
}
input[type="submit"]{
    text-align: center;
    font-size: 20px;
    width: 90%;
    padding: 10px;
    border: none;
}
.input-contenedor::placeholder {
  color:white;
}


header{
    background-color: black; 
    margin: 0;
    padding-top: 10px;
    text-align: center;
    height: 140px; 
    opacity: 90%;
    text-align: center;
    color:white;
    
    
}
#hh{
    width: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    
}
#tit{
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 10px;
    opacity: 100%;
    
}
section{
    margin:0 auto;
    text-align: center;
    z-index: 89;
   
    
}
article{
    width: 60%;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 21%;
    
}
#imm{
    width: 320px;
}

.contenedor_noticias .noticiaa{
	display: flex;
	width: 100%;
	margin: 0;
	flex-wrap: wrap;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	background-color: #C3CFD1; 
}
.noticia{
	width: 60%;
	margin: 20px;
	align-content: right;
}
.noticia h2,h3{
    margin: 0px;
}

footer{
    background: black;
    height: 200px;
    color: white;
    display: inline-flex;
    width: 100%;
    
      
    
}
.footer-con{
    background: #000;
    height: 200px;
    color: white;
    display: inline-flex;
    width: 100%;
    margin-top: 33%
      
    
}
footer div{
    margin: auto;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 30%;
    font-size: 14px;
   
}
footer div a{
   text-decoration: none;
    color: white;
}

#cont-title{
    font-size: 50px;
    margin: 0 auto;
    
        
}
form{
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    background: #C3CFD1;
    width: 800px;
    margin-left: 20%;
    background-color: RGB(128, 128, 128, 90%)
}
#section-con{
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
.imagen{
    width: 33%;
}
#imm{
    width: 105%
}


#her{
    background: black;
    height: 20px;
    
}
#imgnav{
    width: 40px;
    height: 40px;
    
}
nav{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 55px;
    background: black;
    border-top: darkgrey 2px solid;
    padding-bottom: 10px;
    position: sticky;
    top: 0px;
    z-index: 100;
    
}


nav  li{
      display:block;
      float: right;
      width:164px;
      height:20px;
      padding:5px 10px;
      background-color:black;
      text-align:center;
      color:white;
    position: relative;

}

nav a{
      text-decoration:none;
      font-size:14px;
      color: white;
    
      }
#luupa:hover{
    background-color:black;
    color:black;

}
            
nav li:hover{
      background-color:white;
      color:black;
      }



#luupa{
    padding: 0;
}

nav li:hover >a{
    background-color:white;
    color: black;
}
            
nav li>ul{
      display:none;
}

nav li:hover>ul{
      display:block;
      position:absolute;
      top:10px;
      left:-50px;
}


#secheaderimg{
    width: 65%; 
}
.global{
    display: flex;
  justify-content: space-between;
}

aside{
    position: absolute;
    background-color: black;
    width:80px;
    height: 587px;
    overflow: hidden;
    transition-duration: 0.5s;
    padding: 0px;
    margin:0px;
    z-index: 98;
   
    
}
 aside ul{
    margin-left: -40px;
    margin-top: 0px;
    margin-bottom: 0px;
    
     
    
}
aside li{
    padding: 12px;
    text-align: center;
    list-style: none;
    color:blue;
    opacity: 80%;
     
   
}
aside li:hover > p{
    color:black;
    display: block;
    
    
}
aside ul li{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
 aside img{
    width: 45px;
    
}
aside p{
   color: white;
    display: none;
    margin-bottom: 10px;
    margin-top: -5px;
   
}

aside li:hover{
    opacity: 100%;
    
    border-color:cornflowerblue;
    background-color: #0E466E;
    background-color: white;
}

aside:hover{
    width: 160px;
}

.noti{
    background-color: #C3CFD1;
    min-height:   600px;
    padding: 20px;
    flex-wrap: wrap;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.noti h1{
    font-size: 35px;
}


.imanoti{
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.noti a{
    float: right;
    margin-bottom: 15px;
}

#footer {
    width: 63%;
    background-color: #C3CFD1;
    flex-wrap: wrap;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    
}

#footer:link, #footer:visited, #footer:active{
    text-decoration: none;
}

#imgfoo{
    margin-bottom: 25px;
}

#footer img{
    width: 100%;
    margin-left: 3%;
    float: left;
    
}

#footer div div{
     
     margin-left: 2%;
    width: 30%;
}
#footer h1{
    display: inherit;
}
#divfoote{
    display: inline-flex;
}

#obras img{
    background: grey;
    background-color: aliceblue;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 7px;
}
#obras{
    margin-top: 110px;
    margin-bottom: 130px;
}
#imgart{
    width: 90%;
}

.slider{
    width: 23%;
    margin: auto;
    overflow:hidden; 
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 40s infinite alternate linear;
}

.slider li{
    width: 100%;
    
}
.slider img{
    width: 90%
}

::placeholder{
    color: rgba(255,255,255,0.3);
    text-align: center;
}textarea{
    height: 16px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: -5px;
    border-top: 0px;
    background: none;
    border-right: 0px;
    border-left: 0px;
    border-color: white;
    border-style: solid;
}fieldset{
    margin: 15px;
    border-color: black;
}
input{
    text-align: center;
    background: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    text-align: left;
    color: white;
    border-bottom-color: white;
}form{
    border-radius: 8px;
    padding: 10px;
    vertical-align: middle;
    width: 60%;
    margin-left: 20%;
    background-color: rgba(41, 113, 138, 0.92);
    margin-top: 5%;
    text-align: center;

}

@keyframes cambio{
    0%{margin-left: 0; }
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media screen and (min-width: 321px) and (max-width: 768px) { 
    aside{
        display: inline;
    }
    #imm{
        width: 80%;
    }
    .noticia{
        width: 100%;
    }
    #secheaderimg{
        width: 90%;
    }
    article{
        margin-left: 10%
    }
    .imagen{
        width: 10%;
    }
}
@media screen and   (min-width: 768px) and (max-width: 1000px){
    .imagen{
        margin-top: 5%;
    }
}

@media screen and   (min-width: 1000px) and (max-width: 1138px){
    .imagen{
        margin-top: 5%;
    }
    article{
        margin-left: 15%;
        width: 75%;
    }
}
@media screen and   (min-width: 1138px) and (max-width: 1300px){
    .imagen{
        margin-top: 2%;
    }
    article{
        margin-left: 17%;
        width: 70%;
    }
}

@media screen  and (max-width: 768px) { 
    aside{
        width: 0px;
    }
    
}
@media screen  and (max-width: 1350px) { 
    
    #footer{
        width: 73%;
    }
}
@media screen  and (max-width: 1026px) { 
    .noticiaa{
        text-align: center;
        margin: 0 auto;
    }
    #secheaderimg{
        margin-left: 3%;
        width: 100%;
    }
    article{
        margin-left: 15%;
        width: 85%;
    }
    .noticiario{
        width: 90%;
        text-align: center;
    }
    .imagen{
        display: block;
        margin: auto;
        width: 80%;
    }
     #imm{
        width: 100%;
    }
    .contenedor_noticias{
       text-align: center; 
    }
    .noticia h2{
        font-size: 20px;
    }
    #footer{
        width: 90%;
    }
    .noticia{
        width: 90%;
    }
   
    
}
@media screen  and (max-width: 1150px) { 
    
     nav ul li{
        width: 14%;
    }
}
@media screen  and (max-width: 700px) { 
    
     nav ul li{
        border: white 3px;
         width: 100%;
         
    }
    nav{
        position:relative;
    }
    
    nav ul li:hover{
        display: none;
         width: 100%;
         
    }
}
.SegundoContenedor {
    background-color: darkgray
}
#nvidia{
    width: 1100px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 200px;
}
#submenu_nvidia{
    position: sticky;
    width: 1100px;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: 210px;
    background-color: black;
    top:63px;
    z-index: 0;
}
#submenu_nvidia ul{
    list-style: none;
    border-top-style:groove;
    border-top-width: 4px;
    border-top-color: white;
    border-bottom-style:groove;
}
#container_nvidia_ofertas h2 i{
    color:red;
    margin-left: 20px;
}
#submenu_nvidia ul li{
    width: 25%;
    display: inline-block;
    padding:0px 10px 0px 10px;
    text-align: center;
    color: white;
    position: relative;
}
#submenu_nvidia ul li:hover{
    background-color: white;
}
#submenu_nvidia ul li:hover > a p{
    color: black;
}
#submenu_nvidia ul li a{
    text-decoration-line: none;
    text-decoration-color: white;
    text-emphasis-color: white;
    
}
#submenu_nvidia ul li a:visited{
    color: white;
}
#nvidia img{
    margin-top: 0px;
    width: 1100px;
    height: 300px;
    padding: 0px 10px 20px 10px;
}
#nvidia_title{
    color: aliceblue;
    background-color: black;
    padding: 10px 0px 15px 0px;
    width: 1100px;
    margin-left:210px;
    margin-bottom:5px;
}
.nvidia_product img{
    width: 300px; 
    border-radius: 10px;
}
.nvidia_product img:hover{
    transform: scale(1.1);
}
.nvidia_product{
    width: 300px;
    display: inline-block;
    padding: 20px;
    
}
#container_nvidia_destacados{
    width: 1100px;
    background-color: black;
    margin-left:210px;
    margin-top:-40px;
}
#container_nvidia_destacados h2{
    text-align: left;
    color: black;
    padding: 10px;
    background-color: #76b900;
}
#container_nvidia_ofertas{
    width: 1100px;
    background-color: black;
    margin-left:210px;
    margin-top:-13px;
}
#container_nvidia_ofertas h2{
    text-align: left;
    color: black;
    padding: 10px;
    background-color: #76b900;
}
#container_nvidia_outlet{
    width: 1100px;
    background-color: black;
    margin-left:210px;
    margin-top:-13px;
}
#container_nvidia_outlet h2{
    text-align: left;
    color: black;
    padding: 10px;
    background-color: #76b900;
}
.nvidia_product p{
    color: white;
}
.nvidia_product p a{
    text-decoration:none;
}
.nvidia_product p a:visited{
    color:white;
}
.comprar_nvidia{
    background-color: #76b900;
    width:120px;
    padding: 1px;
    margin: auto;
}
.comprar_nvidia:hover{
    background-color: #76b900;
}
#amd{
    width: 1100px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 200px;
}
#submenu_amd{
    position: sticky;
    width: 1100px;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: 210px;
    background-color: black;
    top:63px;
    z-index: 0;
}
#submenu_amd ul{
    list-style: none;
    border-top-style:groove;
    border-top-width: 4px;
    border-top-color: white;
    border-bottom-style:groove;
}
#container_amd_ofertas h2 i{
    color:white;
    margin-left: 50px;
}
#submenu_amd ul li{
    text-decoration: none;
    width: 25%;
    display: inline-block;
    padding:0px 10px 0px 10px;
    text-align: center;
    color: white;
    position: relative;
}
#submenu_amd ul li:hover{
    background-color: white;
}
#submenu_amd ul li:hover > a p{
    text-decoration: none;
    color: black;
}
#submenu_amd ul li a{
    text-decoration-line: none;
    text-decoration-color: white;
    text-emphasis-color: white;
    
}
#submenu_amd ul li a:visited{
    color: white;
    text-decoration: none
}
#amd img{
    margin-top: 0px;
    width: 1100px;
    height: 300px;
    padding: 0px 10px 20px 10px;
}
#amd_title{
    color: aliceblue;
    background-color: black;
    padding: 10px 0px 15px 0px;
    width: 1100px;
    margin-left:210px;
    margin-bottom:5px;
}
.amd_product img{
    width: 300px; 
    border-radius: 10px;
}
.amd_product img:hover{
    transform: scale(1.1);
}
.amd_product{
    width: 300px;
    display: inline-block;
    padding: 20px;
    
}
#container_amd_destacados{
    width: 1100px;
    background-color: black;
    margin-left:210px;
    margin-top:-40px;
}
#container_amd_destacados h2{
    text-align: left;
    color: white;
    padding: 10px;
    background-color: #8E0505;
}
#container_amd_ofertas{
    width: 1100px;
    background-color: black;
    margin-left:210px;
    margin-top:-13px;
}
#container_amd_ofertas h2{
    text-align: left;
    color: white;
    padding: 10px;
    background-color: #8E0505;
}
#container_amd_outlet{
    width: 1100px;
    background-color: black;
    margin-left:210px;
    margin-top:-13px;
}
#container_amd_outlet h2{
    text-align: left;
    color: white;
    padding: 10px;
    background-color: #8E0505;
}
.amd_product p{
    color: white;
}
.amd_product p a{
    text-decoration:none;
}
.amd_product p a:visited{
    text-decoration:none;
    color:white;
}
.comprar_amd{
    background-color: #8E0505;
    width:120px;
    padding: 1px;
    margin: auto;
}
.comprar_amd:hover{
    background-color: #8E0505;
}



.anun{
    background-color: #C3CFD1;
    min-height:   600px;
    padding: 20px;
    flex-wrap: wrap;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}



.analisis{
	margin:30px auto;
	overflow-y: auto;
	width: 100%;
    height: 100%;
}
.analisis img{
    margin-top: 15px;;
	width: 45%;
    height: 30%;
}
.analisis div{
	float:left;
	margin-top: 20px;
	text-align:justify;
	width: 50%;
}

.fotos1{
    width: 30%;
    margin: auto;
    text-align: center;
}

.analisis2 div{
    border: 0px;
	width: 100%;
    margin-right: 5px;
}

.cards{
    float: left;
	overflow-y: auto;
}
.imagenes1 .fotos1 img{
	float:left;
	padding:20px;
	text-align: center;
	width: 30%;
}



